/**/

#graph-inputs {
	width: 250px;
	float: left;
	height: 467px;
}

/**

#canvas {
	width: 100px;
	float: left;
	height: 1000px;
}

/**

#graph-canvas {
	position: relative;
	left: ;
	border: 1px solid red;
}

/**/